# Exclude development/internal files from distributed archives
.github/                export-ignore
.git/                   export-ignore
Tests/                  export-ignore
Tests.meta              export-ignore
.editorconfig           export-ignore
.gitignore              export-ignore
.gitattributes          export-ignore